<div class="container">
  <div class="jumbotron">
    <h1>
      {{title}}
    </h1>
  </div>
</div>

<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="slider">Map with overlays with slider</a></li>
        <li routerLinkActive="active"><a routerLink="multi-markers">Map with multiple markers</a></li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>